// Base styles 


@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

// Some sane breakpoint vars

@small:     	~"only screen and (max-width: 529px)";
@medium:    	~"only screen and (min-width: 530px) and (max-width: 949px)";
@medium-up:     ~"only screen and (min-width: 530px)";
@large:     	~"only screen and (min-width: 950px) and (max-width: 1128px)";
@large-up:      ~"only screen and (min-width: 950px)";
@xl:  		    ~"only screen and (min-width: 1129px)";

// Palette

@mt-blue: #00aeef;

body {
	font-family:'PT Sans', Arial, sans-serif;
	font-weight: 400;
	color: #2a2a2a;
	
}
section {
	padding: 30px 15px;
}

caption {
	font-size: 13px;
}

p {
	font-size: 18px;
	letter-spacing: -.004em;
	line-height: 1.58;
}

.intro p:first-child:first-letter {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 56px;
	font-weight: 700;
	float: left;
	line-height: 30px;
	padding-right: 4px;
	padding-top: 15px;
	padding-bottom: 0;
	margin: 0;
}
p strong {
	font-size: inherit;
	line-height: inherit;
	font-weight: 700;
}
h1 {

}
h2, h3 {
	font-family: 'Space Mono', Arial, sans-serif;
}
h2 {
	
	font-size: 24px;
	margin: 0 0 20px;
	line-height: 1.4;
}


a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px dotted #cccccc;
}

a:visited {
	color: black;
}
a:hover {
	color: #333333;
}
li {
	margin-bottom: 0.4em;
	line-height: 1.4;
}
img {
	width: 100%;
	height: auto;
}
footer {
	color: grey;
	font-family: "PT Sans", Arial, sans-serif;
	padding: 25px;
	text-align: center;
}
.copyright {
	margin-bottom: 10px;
}
.last-update {
	font-size: 12px;
}


@media @medium-up {

	.content {
		margin: 0 auto;
		max-width: 700px;
	}

	p {
		font-size: 21px;
	}
	.intro p:first-child:first-letter {
		font-size: 70px;
		padding-right: 8px;
		padding-top: 22px;
	}

	.copyright {
	
	}

}