// HEADER


header {
	font-family: 'PT Sans', Arial, sans-serif;
	color: black;
	font-weight: 700;
	letter-spacing: 1;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
	padding: 30px 0;
}

.mugshot {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
	display: inline-block;
	margin-bottom: 2rem;
	overflow: hidden;
}

.masthead {
	margin-bottom: 2rem;
}

.contact-links {
	font-size: 0.8em;
	a {
		margin: 0 0.5em;
	}
}