// HEADER


header {
	font-family: 'PT Sans', Arial, sans-serif;
	color: black;
	font-weight: 700;
	letter-spacing: 1;
	width: 100%;
	text-align: center;
	padding: 60px 0 30px;
}

.mugshot {
	width: 6rem;
	height: 6rem;
	border-radius: 3rem;
	display: inline-block;
	margin-bottom: 2rem;
	overflow: hidden;
}

.masthead {
	margin-bottom: 2rem;
	h1 {
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}
	h2 {
		font-weight: 300;
		font-size: 2rem;
		.underlight {
			position: relative;
			
			&:before {
				position: absolute;
				content: " ";
				bottom: 2px;
				z-index: -2;
				height:8px;
				width: 100%;
				background: #FAE100;
			}
		}
	}
}

.contact-links {
	font-size: 1.2em;
	a {
		margin: 0 0.5em;
	}
}