@import "_reset";
@import "_type";
* {
  box-sizing: border-box;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
@libre: 'Libre Baskerville', Georgia, serif;

// Colour Palette: ;
@mt-blue: #00aeef;

@import "_menu";
@import "_pages";


