@import "_reset";

* {
  box-sizing: border-box;
}

// Fonts

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

@libre: 'Libre Baskerville', Georgia, serif;

// Colour Palette

@mt-blue: #00aeef;


.menu {
  width: 40%;
  float:left;
  position: fixed;
  background: url('https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/13392120_10157232361540122_5354850467833740236_o.jpg?oh=4dee2d79c7a0e289235cdea271107477&oe=5916FF25');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media screen and (max-width: 750px) {
    background: @mt-blue;
  }
}

header {
  color: white;
  padding: 3rem;
  h1 {
    font-size:2.4rem;
    margin-bottom: 1.6rem;
  }
}

nav {
  margin-top: auto;
  padding: 3rem 0;
  a {
    display: block;
    margin: 0;
    color: white;
    padding:1rem 3rem;
    &.active {
      background: rgba(0,0,0,0.05);
    }
    &:last-child {
      margin: 0;
    }
  }
}

main {
  float: right;
  width: 60%;
  padding: 20rem 4rem 2rem;

  h1 {
    font-size:2.4rem;
    margin-bottom: 1.6rem;
    position: relative;
    padding-top:1rem;
    &:before {
      content:" ";
      position: absolute;
      top: 0;
      left: -6rem;
      width: 6rem;
      height: 5px;
      background: @mt-blue;
    }
  }
  p {
    font-size:20px;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    font-family: @libre;
  }

}

