@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i';

@import 'https://fonts.googleapis.com/css?family=Raleway:700,700i';

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body, html {
	font-family: 'Space Mono', Arial, sans-serif;
}

/*

Test ABCABC

*/

h1 {
	font-family:'Railway', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.6;
	margin-bottom:3rem;
}

h2 {
	font-weight: 400;
	margin-bottom: 32px;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom:1.4rem;
}

.specs {
	margin-bottom:32px;
	
}

.intro {
	display: flex;
	flex-direction: row;
}

.copy {
	width: 65%;
	padding: 100px;
	flex-grow: 0;
}

