/* ### Baselining ###  */

/* Lovely simple CSS reset courtesy of: https://alligator.io/css/minimal-css-reset/*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* OK, let's get stylin' */

/* Light Mode */
:root[theme='light'] {
  --bg-color: #f9f9f9;
  --text-color: #010101;
  --accent-color: #dbe2ef;
}

/* Dark Mode */
:root[theme='dark'] {
  --bg-color: #111;
  --text-color: #f9f7f7;
  --accent-color: #008BCD;
}

/* Mindful Mode */
:root[theme='mindful'] {
  --bg-color:  #130B30;
  --text-color: #FFFFFF;
  --accent-color: #2CD4AE;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  background: var(--bg-color);
  
  
}

.mode-swap {
  width: 15px;
  height: 15px;
  padding: 0;
  margin:0;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  outline:none;
  right: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}

:root[theme='dark'] #toggle-theme {
  background: #010101;
  border: none;
  border: 2px solid white;
}

:root[theme='light'] #toggle-theme {
  background: white;
  border: 2px solid var(--text-color);
}

:root[theme='mindful'] #toggle-theme {
  background: var(--bg-color);
  border: 2px solid var(--text-color);
}

div.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin: 2em;
}

section {
}

h1, h2 {
  font-size: 1.1em;
  margin-bottom: 1em;
  font-weight: 700;
}

h2  {
  margin-top: 3em;
}

h2:first-child {
  margin-top:0;
}

p {
  line-height: 1.414;
  font-size: 1em;
  margin-bottom: 1em;
}

p.opener {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 1.8em;
  line-height: 1.2;
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--accent-color);
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--text-color);
  border-bottom-color: white;
}

ul {
  margin:0;
  padding:0;
}
li {
  line-height: 1.414;
  list-style: none;
  display: flex;
  margin-bottom:0.5em;
}
li > span:first-child {
  width: 6em;
  font-weight: 100;
}

li > span {
  width: calc(100% - 4em);
}

img {
  width: 100%;
  height: auto;
}

img.mike {
  max-width: 10em;
  border-radius: 50%;
}



svg {
  fill: none;
  overflow: visible;
}

rect {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  width: 20px;
  height:20px;
}


@media only screen and (min-width: 480px) {
  div.main {
    grid-template-columns: 1fr;
    grid-gap: 4em;
    margin: 4rem;
  }
  section:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  p.opener {
    font-size:1.6em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3em;
    line-height: 1.2em;
  }
}

@media only screen and (min-width: 1025px) {
  div.main {
    grid-template-columns: 3fr 5fr;
    grid-gap: 4em;
    max-width: 65%;
    margin: 5rem;
  }
  section.intro {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 1;
  }
  section.bio {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  section.misc {
    grid-column: 1 / 2;
    grid-row: 2;
  }
}






