<!-- index.nunjucks -->
{% extends "layouts/main.tpl" %}

{% import 'macros/navigation.tpl' as nav %}

{% set meta_title = "About Mike" %}

{% block content %}



<h1>About</h1>

<p>
	Mike is an interdisciplinary designer based in London with over 10 years of experience working either in-house, freelance or agency-side (digital or print). He has collaborated with a wide gamut of individuals and organisations — from the <a href="">very small</a> to the <a href="">exceedingly large</a> — across a broad swathe of sectors, ranging from education and consumer finance through to logistics and the charity sector.
</p>
<p>
	Right now, Mike is currently engaged as an in-house Designer at TotallyMoney.com working across their technology and creative teams. His responsibilities currently include developing an in-house design language, architecting SASS and HTML, providing a steady stream of UI design flows for up-coming releases, and supporting as well as mentoring colleagues where needed. 
</p>
<p>
	He prefers coffee over tea, is an avid reader/writer, badminton player, and multiple-hat-wearing gent who occasionally likes to roll twenties and crit dragons in his sleep. He does not like writing about himself in the third-person. Mostly.
</p>
<p>
	You can get in touch with Mike via <a href="">email</a>, or on <a href="">twitter</a> (where he lives vicariously through others). If you absolutely must, you can get in touch with him via <a href="">LinkedIn</a> too. Elsewise, send a raven.
</p>
<p>
	PS: He is available to hire for small freelance projects for a terribly immodest fee.
</p>

{% endblock %}