<!-- index.nunjucks -->
{% extends "layouts/main.tpl" %}

{% set meta_title = "About Mike" %}

{% block content %}

<main>
	{% import 'macros/navigation.tpl' as nav %}
	{{nav.active('about')}}
	
	<h1>About</h1>
	
	<p>
		I'm an interdisciplinary designer based in London with over 10 years experience working either in-house, freelance or agency-side (digital or print). Over the years, I have collaborated with a wide range of individuals and organisations — from the <a href="">very small</a> to the <a href="">exceedingly large</a> — across a broad swathe of sectors, from education and consumer finance through to logistics and the charity sector.
	</p>
	<p>
		Right now, I am is currently as an in-house Designer at TotallyMoney.com with responsibiliies across their technology and creative teams. My duties currently include contributing to our in-house design language, architecting CSS and HTML, providing a steady stream of visual designs for up-coming product releases, and supporting as well as mentoring colleagues where needed. 
	</p>
	<p>
		I prefer coffee over tea, am an avid reader/writer, badminton player, and multiple-hat-wearing gent who occasionally likes to roll twenties and crit dragons in my sleep.
	</p>

	<p>
		PS: I am available to hire for small freelance projects for a terribly immodest fee.
	</p>

</main>



{% endblock %}