<!-- index.nunjucks -->
{% extends "layouts/main.tpl" %}


{% set meta_title = "Articles" %}

{% block content %}

<main>
	{% import 'macros/navigation.tpl' as nav %}
	{{nav.active('articles')}}
	<h1>Writing</h1>
	<section>
		<ul>
			<li>
				<h3><a href="#">Grabbing and wrapping multiple paras in Sublime</a></h3>
				<p>Stop adding <code>&lt;p&gt;</code> tags manually!</p>
			</li>
			<li><a href="#">Inspirational site of the month</a></li>
			<li><a href="#">How to: A gulp workflow for designing and developing html emails</a></li>
			<li><a href="#">Designing the design team</a></li>
			<li><a href="#">It's OK not to have a blog or speak at conferences</a></li>
		</ul>
	</section>
	<article>
		<h2>Grabbing and wrapping multiple paras in Sublime	</h2>
		<p>Select the lines of interst</p>
		<p>command + shift + L</p>
		<p>control + shift + W</p>
		<p>Type your tag</p>
	</article>
</main>

{% endblock %}