<!-- index.nunjucks -->
{% extends "layouts/main.tpl" %}

{% set meta_title = "Mike Thomas, an interdisciplinary designer in London" %}

{% block content %}

<section>
	<h2>Articles and snippets</h2>
	<ul>
		<li>
			<h3><a href="#">Grabbing and wrapping multiple paras in Sublime</a></h3>
			<p>Stop adding <code>&lt;p&gt;</code> tags manually!</p>
		</li>
		<li><a href="#">Inspirational site of the month</a></li>
		<li><a href="#">How to: A gulp workflow for designing and developing html emails</a></li>
		<li><a href="#">Designing the design team</a></li>
		<li><a href="#">It's OK not to have a blog or speak at conferences</a></li>
	</ul>
</section>

<article>
	<h1>Grabbing and wrapping multiple paras in Sublime	</h1>
	<p>Select the lines of interst</p>
	<p>command + shift + L</p>
	<p>control + shift + W</p>
	<p>Type your tag</p>
</article>

<section>
	<h2>About</h2>
	<p>Mike is an interdisciplinary designer based in London with over 10 years of experience working either in-house, freelance or agency-side (digital or print). He has collaborated with a wide gamut of individuals and organisations — from the very small to the exceedingly large — across a broad swathe of sectors, ranging from education and consumer finance through to logistics and the charity sector.</p>
	<p>Right now, Mike is currently engaged as an in-house Designer at TotallyMoney.com working across their technology and creative teams. His responsibilities currently include developing an in-house design language, architecting SASS and HTML, providing a steady stream of UI design flows for up-coming releases, and supporting as well as mentoring colleagues where needed.</p>
	<p>He prefers coffee over tea, is an avid reader/writer, badminton player, and multiple-hat-wearing gent who occasionally likes to roll twenties and crit dragons in his sleep. He does not like writing about himself in the third-person. Mostly.</p>
	<p>You can get in touch with Mike via email, or on twitter (where he lives vicariously through others). If you absolutely must, you can get in touch with him via LinkedIn too. Elsewise, send a raven.</p>
	<p>PS: He is available to hire for small freelance projects for a terribly immodest fee.</p>
</section>

{% endblock %}